---
import MainLayout from "../Layouts/MainLayout.astro";
 

---

<MainLayout title="main">

<h1> Hello from home </h1> 
</MainLayout>

<style>
h1 {
	color: red;
	display: flex;
	justify-content: center;
}

</style>