---
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import TechStack from "../components/TechStack/TechStack.astro";
import Projects from "../components/Projects/Projects.astro";

const { title = "default" } = Astro.props;
---

<html lang="en">
  <MainHead {title} />
  <body>
    <section class="main">
      <img src="/images/profile.jpg" class="profile-image" alt="profile" />
      <div class="content">
        <h1>Hi, i'm Marta!</h1>
        <h2>(Junior Web Developer)</h2>
      </div>
      <p>
        New in Web Development, I'm motivated to start a professional journey to
        learn,<br />
        create, and contribute with my skills.
      </p>
      <TechStack />
    </section>
    <img class="line" src="/svg/curveNegative.svg" /></body
  >
  <Projects />

  <Footer />
  <script src="../js/ao"></script>

  <style>
    body {
      display: flex;
      flex-direction: column;
      background-color: #f8f8f8;
      font-family: "Roboto", sans-serif;
      min-height: 100vh;
    }

    .main {
      height: 100%;
      padding: 20px;
      margin-left: 100px;
      margin-top: 30px;
    }
    .main p {
      font-size: 1.2rem;
      color: #666;
      margin-top: 20px;
    }
    .line {
      width: 100%;
      height: auto;
      margin-bottom: -1px;
    }
    @media (max-width: 600px) {
      .main {
        margin-left: 0px;
        height: 100%;
      }
    }
    @media (max-width: 768px) {
      .main {
        margin-left: 0px;
      }
    }
    @media (max-width: 1024px) {
      .main {
        margin-left: 0px;
      }
    }

    .profile-image {
      width: 200px;
      height: 270px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 20px;
      box-shadow: #8a8888 0px 0px 10px;
    }
    @media (max-width: 600px) {
      .profile-image {
        width: 150px;
        height: 210px;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    .content h2 {
      font-size: 1.3rem;
      color: #333;
      font-weight: 500;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    .content h1 {
      font-size: 2.7rem;
      color: #333;
      font-weight: 500;
      margin-bottom: 10px;
      font-family: "Times New Roman", Times, serif;
    }
  </style>
</html>
